{% extends 'main_template.html' %}

{% block header %}
  <h1>{% block title %}Listagem de pessoas{% endblock %}</h1>
{% endblock %}

{% block content %}


<table border="1">
    <tr>
        <td>ID</td>
        <td>Nome</td>
        <td>Email</td>
        <td>Telefone</td>
        <td>CPF</td>
        <td>RG</td>
        <td>Nascimento</td>
        <td>CEP</td>
        <td>Nome da Mãe</td>
        <td>4 últimos dígitos do seu cartão</td>
        <td>Saldo</td>
    </tr>

    {% for p in pessoas %}
    <tr>
        <td>{{p.ID}}</td>
        <td>{{p.nome}}</td>
        <td>{{p.email}}</td>
        <td>{{p.telefone}}</td>
        <td>{{p.CPF}}</td>
        <td>{{p.RG}}</td>
        <td>{{p.nascimento}}</td>
        <td>{{p.CEP}}</td>
        <td>{{p.mãe}}</td>
        <td>{{p.digitos}}</td>
        <td>{{p.saldo}}</td>
    </tr>
    {% endfor %}
   
</table>

{% endblock %}
