<!doctype html>

<head>
        <title>{% block title %}{% endblock %} - Sistema CloCard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mycss.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="background-image: url('{{ url_for('static', filename='img/' + fundo) }}'); background-size: cover;">

    
    <h1>CacauCLOShow 1.0 - Sistema 100% Confiável</h1>
    <a href="{{ url_for("home") }}">Página inicial</a> | 
    <a href="{{ url_for("about") }}">Sobre nós</a> | 
    <a href="{{ url_for("listar_pessoas") }}">Listagem de bobos (por chocolate)</a>
    <a href="{{ url_for("cadastro") }}">Cadastrar nova pessoa</a>
    <hr />

    <section class="content">
        <header> {% block header %}{% endblock %} </header>

        {% block content %}{% endblock %}
    </section>

</body>
